.menu {
	position: sticky;
	bottom: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: fit-content;
	float: right;
}

.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-color: var(--clr_dark1);
	box-shadow: 0 0 1rem black;
	color: var(--clr_green_lg);
	font-size: 3rem;
	transform: rotate(45deg);
	transition: 0.3s ease-in-out;
}

.menu-btn-open {
	transform: rotate(-90deg);
	transition: 0.3s ease-in-out;
}

.menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: var(--clr_green_lg);
	font-size: 2rem;
	padding: 1rem;
	background-color: var(--clr_dark1);
	box-shadow: 0 0 1rem black;
	position: absolute;
	right: 1rem;
	top: 1rem;
	transition: 0.3s ease-in-out;
}

.link1-open {
	transform: translate(0%, -220%);
}

.link2-open {
	transform: translate(-120%, -180%);
}

.link3-open {
	transform: translate(-200%, -80%);
}

.link4-open {
	transform: translate(-220%, 40%);
}

.menu-btn:hover,
.menu-link:hover {
	color: var(--clr_cyan);
	text-shadow: 0 0 1rem red;
}

