.skills-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills-content {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 4rem;
}

.focus-info {
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.web-dev,
.cyber {
	background-color: var(--clr_dark1);
	border-radius: 0.5rem;
	padding: 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.focus-info,
.skill-cards {
	padding: 2rem;
}

@media only screen and (max-width: 1700px) {

	.skills-content {
		grid-template-columns: repeat(1, 1fr);
	}
}
