.about-info {
	display: grid;
	grid-template-columns: 40% 60%;
}

.profile-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	max-width: 25rem;
	max-height: 25rem;
	padding: 1rem;
	border: solid 0.2rem var(--clr_green);
	border-radius: 50%;
	box-shadow: 0 0 0.4rem var(--clr_green);
}

.profile-contact {
	display: flex;
	justify-content: flex-start;
	gap: 2rem;
	padding: 3rem 0;
}

.profile-contact a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 1rem;
	color: var(--clr_green_lg);
	border: solid 0.1rem var(--clr_green);
	border-radius: 50%;
}

@media only screen and (max-width: 900px) {
	.about-info {
		grid-template-columns: repeat(1, 1fr);
	}
}
