/* header width is set on index.css */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 4rem;
}

.logo-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr_dark2);
	border-radius: 50%;
	padding: 1.2rem;
}

.logo-bg svg {
	font-size: 6rem;
	color: var(--clr_green);
}

.header-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header-text h1 {
	font-size: 5rem;
}

.header-text p {
	font-size: 2rem;
}

@media only screen and (max-width: 315px) {

	.header-text p {
		font-size: 1.8rem;
	}
}