.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	background-color: var(--clr_dark1);
	font-size: 2rem;
}

.nav-logo {
	display: flex;
	align-items: center;
}

.nav-logo svg {
	font-size: 4rem;
	padding: 0.5rem;
	border: solid 0.2rem var(--clr_green);
	border-radius: 50%;
	margin-right: 0.2rem;
	color: var(--clr_green);
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-link {
	position: relative;
	padding: 1rem 1rem 0 1rem;
}

.nav-link::after {
	content: '';
	position: absolute;
	background-color: var(--clr_green_lg);
	width: 0;
	height: 0.1rem;
	left: 0;
	bottom: -1rem;
	transition: 0.3s ease-in-out;
}

.nav-link:hover::after {
	width: 100%;
	transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }
}