.skill-card {
	width: 15rem;
	height: 15rem;
	background-color: var(--clr_green_lg);
	box-shadow: 0 0 0.5rem var(--clr_green_lg);
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	transition: 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill-card-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	font-size: 5rem;
	background-color: rgb(51, 59, 49);
	color: var(--clr_green_lg);
	transition: 0.3s ease-in-out;
}

.skill-hover {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.3rem;
	font-size: 2.5rem;
}

.skill-card:hover .skill-card-icon {
	bottom: -100%;
	right: -100%;
}

.skill-card-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--clr_green);
}

.skill-card-content h3 {
	font-weight: 700;
}

@media only screen and (max-width: 512px) {

	.skill-card {
		width: 15rem;
		height: 15rem;
	}
}

@media only screen and (max-width: 442px) {

	.skill-card {
		width: 12.5rem;
		height: 12.5rem;
	}

	.skill-hover {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 389px) {

	.skill-card {
		width: 10rem;
		height: 10rem;
	}
}

@media only screen and (max-width: 336px) {

	.skill-card {
		width: 8rem;
		height: 8rem;
	}

	.skill-card-content {
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 273px) {

	.skill-card {
		width: 6rem;
		height: 6rem;
	}

	.skill-card-icon {
		font-size: 2.5rem;
	}


}