/* footer width is set on index.css */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

.footer-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
}

.footer-summary,
.footer-made,
.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.footer-summary h2,
.footer-made h2,
.footer-contact h2 {
	font-size: clamp(1.875rem, 1.7424rem + 0.7576vw, 2.5rem);
}

.footer-summary p {
	font-size: 1.8rem;
}

.footer-made-icons,
.footer-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.footer-made-icons {
	display: flex;
	font-size: 3rem;
	padding: 1rem;
}

.footer-contact a {
	display: flex;
	font-size: 2rem;
	padding: 1rem;
	border: solid 0.1rem var(--clr_white);
	border-radius: 50%;
}

.footer-bottom {
	padding: 2rem;
	font-size: 1.8rem;
}

@media only screen and (max-width: 900px) {

	.footer-top {
		grid-template-columns: repeat(1, 1fr);
		text-align: center;
		width: 100%;
	}

	.footer-made-icons,
	.footer-links {
		justify-content: center;
	}
}