@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root {

  --clr_green:      #87A556; /* rgba(135, 165, 86, 1.0) */
  --clr_green_lg:   #D7F6A1;
  --clr_cyan:       #00AEC6;
  --clr_white:      #FFFFFF;
  --clr_dark1:      #282B33;
  --clr_dark2:      #1E2128;

  --text_font:      'Source Sans Pro', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: var(--text_font);
    font-weight: 300;
    color: var(--clr_white);
}

body {
  background: linear-gradient(200deg, rgba(135, 165, 86, 0.8) 20%, rgba(0, 174, 198, 0.8) 60%, rgba(135, 165, 86, 0.8) 80%);
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

a {
  color: var(--clr_white);
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 15rem 80rem 5rem 80rem;
  width: 100%;
}

.main-container,
.header,
.footer {
  width: 150rem;
}

.main-container {
  background-color: var(--clr_dark2);
  border-radius: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.section-headers {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-align: center;
}

.section-headers h2 {
  font-size: 4rem;
  font-weight: 700;
}

.section-headers h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.highlight-word {
  color: var(--clr_green);
}

.section-text {
  font-size: 2rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width:  1700px) {

.content-wrapper {
  padding: 15rem 50rem 5rem 50rem;
}

  .main-container,
  .header,
  .footer {
    width: 125rem;
  }
}

@media only screen and (max-width:  1280px) {

  .main-container,
  .header,
  .footer {
    width: 100rem;
  }

  .section-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:  1090px) {

.content-wrapper {
  padding: 15rem 20rem 5rem 20rem;
}

  .main-container,
  .header,
  .footer {
    width: 90vw;
  }
}

@media only screen and (max-width:  512px) {

.content-wrapper {
  padding: 15rem 10rem 5rem 10rem;
}

  .main-container,
  .header,
  .footer {
    width: 95vw;
  }
}

@media only screen and (max-width:  319px) {

  .info-container {
    padding: 0 1rem;
  }
}
